<section class="container mt-5">
  <div class="d-flex gap-3 justify-content-center">
    <button
      type="button"
      class="btn btn-outline-danger"
      routerLink="/hamburguer"
      routerLinkActive="active"
    >
      Hamburguer
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      routerLink="/pizza"
      routerLinkActive="active"
    >
      Pizza
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      routerLink="/bebidas"
      routerLinkActive="active"
    >
      Bebidas
    </button>
  </div>
  @if (isLoading) {
  <p>Carregando...</p>
  } @if (!isLoading && currentFoods.length > 0) {

  <div>
    <h2>Lista de {{ currentFoodType | titlecase }}</h2>
    <ul>
      <li *ngFor="let food of currentFoods">
        {{ food.name }} - {{ food.price | currency : 'BRL' : 'symbol' }}
        <button (click)="addToCart(food)">+</button>
      </li>
    </ul>
  </div>
  } @if (!isLoading && currentFoods.length === 0) {
  <p>Nenhum item encontrado.</p>
  }
</section>
