<section>
  @if (cart$(); as cart) {
  <div
    class="modal fade"
    id="cartModal"
    tabindex="-1"
    aria-labelledby="cartModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cartModalLabel">Seu Carrinho</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ul>
            @for (item of cart.items; track item.id) {
            <li>
              {{ item.name }} - <strong>{{ item.quantity }}</strong
              >x
              {{ item.price | currency : 'BRL' : 'symbol' }}
              <button class="btn btn-success" (click)="addItem(item)">+</button>
              <button class="btn btn-danger" (click)="removeItem(item.id)">
                -
              </button>
            </li>
            }
          </ul>
          @if (cart.totalQuantity > 0) {
          <div>
            <p>
              Valor Total: {{ cart.totalPrice | currency : 'BRL' : 'symbol' }}
            </p>
          </div>
          } @if (cart.totalQuantity === 0) {
          <p>Seu carrinho está vazio.</p>
          }
        </div>
        @if (cart.totalQuantity > 0) {
        <div class="modal-footer d-flex justify-content-between">
          <button class="btn btn-danger" (click)="clearCart()">
            Limpar Carrinho
          </button>
          <button type="button" class="btn btn-success" disabled>
            Pagamento
          </button>
        </div>
        }
      </div>
    </div>
  </div>
  }
</section>
