<header class="bg-body-tertiary p-2">
  <nav class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a class="m-0 p-0" routerLink="/">
        <img
          class="m-0 p-0"
          style="width: 100px"
          src="food-now-logo.png"
          alt=""
        />
      </a>
      <a routerLink="/checkout">
        <button type="button" class="btn btn-danger position-relative">
          <i class="bi bi-cart"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            @if (cart$().totalQuantity > 0) {
            {{ cart$().totalQuantity }}
            }
          </span>
        </button>
      </a>
    </div>
  </nav>
</header>
