<form class="bg-body-tertiary p-4 rounded">
  <h5>Endereço de Entrega</h5>
  <p>Informe o endereço onde deseja receber seu pedido.</p>
  <div class="row">
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingCep"
          placeholder="Password"
        />
        <label for="floatingCep">CEP</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingCity"
          placeholder="Password"
        />
        <label for="floatingCity">Cidade</label>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingNeighborhood"
          placeholder="Password"
        />
        <label for="floatingNeighborhood">Bairro</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="flotingStreet"
          placeholder="Password"
        />
        <label for="flotingStreet">Rua</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingNumber"
          placeholder="Password"
        />
        <label for="floatingNumber">Número</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingComplement"
          placeholder="Password"
        />
        <label for="floatingComplement"
          >Complemento <span class="text-secondary">(Opcional)</span></label
        >
      </div>
    </div>
  </div>
</form>
<!-- todo salvar para a próxima compra -->

<!-- <?xml version="1.0" encoding="UTF-8"?>
<xmlcep>
  <cep>01001-000</cep> cep
  <localidade>São Paulo</localidade> cidade
  <bairro>Sé</bairro> bairro
  <logradouro>Praça da Sé</logradouro> rua
    numero não retorna
  <complemento>lado ímpar</complemento> complemento
  
  <uf>SP</uf>
</xmlcep> -->
